html{
    
font-family: tahoma;
}

.borda{
  float: left;
  width: 100% ;
  border: solid;
  border-color: blue;
}
.bordac{
  float: left;
  width: 100% ;
  border: solid;
  border-color: green;

}

.bordak{
  float: left;
  width: 100% ;
  border: solid;
  border-color: red;
}

.voltar{
  margin-bottom: 80%;
}

.madruga {
font-size: 35px;

   color: white;
   background-color: blue;
   font-style: italic;

}
.chiquinha {
font-size: 35px;

   color: white;
   background-color: green;
   font-style: italic;

}

.kiko {
font-size: 35px;

   color: white;
   background-color: red;
   font-style: italic;

}


  body {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }




t{
    
   font-size: 50px;

   color: white;
   background-color: green;



}

t2{
    
   font-size: 35px;

   color: white;
   background-color: green;
   font-style: italic;



}

c{
    font-style: italic;
    text-align: right;
    font-size: 15px;
    text-transform: underline;


}

p{
    
   font-size: 20px;


}



sm{
    color: blue;
}

ch{
    color:green;
}

kk{
    color: red;
}

div{
    text-align: center;
}

div.margem2 {
            background: #900;
            color: #FFF;
            


}

div.margem1 {
            background: #900;
            color: #FFF;
            


}
div.margem3 {
            background: #900;
            color: #FFF;
            


}